// theme
@theme-accent-color: #f41971;
@theme-text: #181818;

// header
@header-bg-color: fade(@theme-accent-color, 80%);
@header-height: 64px;
@header-padding: 50px;
@header-zIndex: 999;

// logo
@logo-common-width: 150px;
